# Android Studio / IntelliJ IDEA
*.iml
.idea/

# Gradle
.gradle
/local.properties

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# OS
.DS_Store

# Local configuration file (sdk path, etc)
local.properties
